@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 40%;
    width: 100%;
  }
}

/*aqui es el enlace del boton */
@-webkit-keyframes hoverAnim {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  35%{
    
  }
  50%{
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    background-color:#17a88c;   
  }
  70%{
    
  }
  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1, 1, 1);
    
    box-shadow:0 0 5px #000;
  }
}

@keyframes hoverAnim  {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  35%{
    
  }
  50%{
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    background-color:#17a88c;   
  }
  70%{
    
  }
  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1, 1, 1);

    box-shadow:0 0 5px #000;
  }
}
/*aqui griss esta la animacion de la placa*/
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-10deg)}
    50%{-moz-transform:rotate(10deg)}
    100%{-moz-transform:rotate(-10deg)}
}

@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-10deg)}
    50%{-webkit-transform:rotate(10deg)}
    100%{-webkit-transform:rotate(-10deg)}
}
